@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
:root{
    --black: #1B1722;
    --white : #F0F0F0;
    --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
*{
    font-family: 'Quicksand', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;   
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: .8rem;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background-color: var(--white);
    border-radius: 5rem;
}
span{
    color: #0022ff;
}

.logoName{
    font-style: italic;
    color: #1B1722;
}

#preloader{
    background: #000 url(images/loader.gif) no-repeat center center;
    background-size: 8%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

.header{
    top: 0;right: 0;left: 0;
    background-color: #000642;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 1.4rem 7%;
    z-index: 999;
}

.header .logoContent{
    display: flex;
    align-items: center;
}
.header .logoContent .logo img{
    height: 4rem;
}
.header .logoContent img{
    width: 5%;
}
.header .logoContent .logoName {
    color: var(--white);
    font-size: 2rem;
    font-weight: bolder;
}

.header .navbar a{
    font-size: 2rem;
    margin-right: 3rem;
    color: var(--white);
    font-weight: bold;
}
.header .navbar a:hover{
    /* border-bottom: .1rem solid var(--white);
    padding-bottom: .4rem; */
    color: #47c5fb;
}
.header .icon i{
    font-size: 2rem;
    margin-right: 2rem;
    color: var(--white);
    cursor: pointer;
}

.header .search{
    display: none;
    top: 100%;
    margin: 1.5rem 7%;
    background-color: transparent;
    width: 50%;
    right: 0;
    height: 5rem;
    position:  absolute;

}
.header .search input{
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    background-color: var(--white);
    color: var(--black);
    margin-right: 7%;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    box-shadow: var(--box-shadow);
}
.header .search.active{
    display: inline-block;
}
#menu-bar{
    display: none;
}

.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/bg1.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}
.home .homeContent{
    width: 60%;
    float: left;
    text-align: center;
    padding: 4rem;
}

.homeContent span{
    color: red;
}
.home .homeContent h2{
    font-size: 5rem;
    font-weight: bolder;
    margin-bottom: 2rem;
    line-height: 7rem;
    color: var(--white);
    text-shadow: var(--box-shadow);
}
.home .homeContent p{
    font-size: 1.8rem;
    line-height: 2;
    margin-bottom: 2rem;
    color: var(--white);
}
.home .homeContent .home-btn{
    height: 3rem;
}
.home .homeContent .home-btn button{
    font-size: 1.8rem;
    background-color: var(--);
    color: var(--black);
    border-radius: .7rem;
    padding: .7rem 2.4rem;
    cursor: pointer;
}
.home .homeContent .home-btn button:hover{
    font-size: 2rem;
    background-color: #000;
    color: var(--white);
}

.nav3 .navbar3{
    background-color: #efeeee;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;
    padding: 1.4rem 7%;
}

.nav3 .navbar3 a{
    text-align: center;
    font-size: 2rem;
    margin-right: 3rem;
    color: var(--black);
    font-weight: bold;
}
.nav3 .navbar3 a:hover{
    border-bottom: .1rem solid var(--black);
    padding-bottom: .4rem;
}

hr{
    border: none;
    border-top: 2px dotted;
    width: 90%;
    margin-left: 6.5%;
    margin-top: 4%;
}

.line hr{
    border: none;
    border-top: 2px dotted;
    width: 50%;
    margin-left: 6.5%;
    margin-top: 4%;
}
/* ABOUT */
.heading {
    font-size: 4rem;
    margin-left: 8.3rem;
    /* text-align: center; */
}
.about .container {
    display: flex;
    justify-content: space-between;
    /* margin-top: 3%; */
}

.about .container .image {
    flex-basis: 50%;
    background: url(/images/post-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 16rem 0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px 0px rgb(195, 193, 193);
    margin: 4%;
}

.about .container .about-content {
    flex-basis: 40%;
    padding: 4rem 0;
    margin: 0 8.3rem;
}

/* .about .container .about-content h1 {
    font-size: 4rem;
    color: var(--black);
    text-shadow: var(--box-shadow);
    padding: 1rem 0;
} */

.about .container .about-content h3 {
    color: var(--black);
    font-size: 2rem;
    letter-spacing: 1px;
    padding: 1rem 0;
}

.about .container .about-content p {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--black);
    line-height: 1.5;
}

/* form */

.contact-form {
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px 0px rgba(195, 193, 193);
    padding: 2rem;
    border-radius: 10px;
    width: 80%;
    height: auto;
    margin-top: 5rem;
    margin-left: 5rem;
}

.contact-form h1{
    font-size: 3rem;
    font-style: italic;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 1rem;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    background-color: var(--black);
    color: var(--white);
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover{
    font-size: 2rem;
    background-color: #000;
    color: var(--white);
}

.about ul li{
    margin-top: 2rem;
    margin-left:7.6%;
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--black);
    line-height: 1.5;
    list-style: circle;
}

/* faq */
.faq-heading{
    font-size: 4rem;
    margin: 0 8.3rem;
}
.faq {
    margin-top: 2%;
    font-size: 1.5rem;
}

.question {
    margin-top: 2.6%;
    display: flex;
    cursor: pointer;
    position: relative; 
    margin-left: 6.5%;
}

.toggle {
    font-size: 2rem;
    margin-right: 1%;
    color: #0022ff;
    font-weight: 800;
}

.answer {
    display: none;
    margin-left: 10%;
    width: 50%;
    text-align: left;
}

/* services */
.service .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    /* gap: 2rem; */
    margin-top: 5rem;
    grid-row-gap: 4rem;
    margin-left: 8.2rem;
}

.service .container .service-box {
    background: var(--white);
    height: auto;
    cursor: pointer;
    box-shadow: 3px 3px 10px rgba(179, 179, 179, 0.2);
    padding-bottom: 3rem;
    border-radius: 10px;
    width: 80%;
}

.service .container .service-box img {
    width: 100%;
    border-radius: 10px;
}

.service .container .service-box .service-content {
    padding: 1.5rem;
}

.service .container .service-box .service-content h3 {
    font-size: 2rem;
    /* padding: 1.3rem 0; */
}

.service .container .service-box .service-content p {
    font-size: 1.6rem;
    /* padding: 1.3rem 0; */
    font-weight: 400;
    color: var(--black);
}

.service .container .service-box:hover {
    transform: translateY(-1rem);
}

/* owl carausel */
.wrapper{
    width: 100%;
    background-color: #fafafa;
  }
  .carousel{
    max-width: 1200px;
    margin: auto;
    padding: 0 30px;
  }
  .carousel .card{
    color: #f7f7f7;
    text-align: center;
    margin: 20px 0;
    /* line-height: 250px; */
    font-size: 90px;
    font-weight: 600;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
  }
  
  .card img{
      border-radius: 10px;
  }
  
  .card-title p{
    color: #000;
    font-size: 2rem;
}

  .owl-dots{
    text-align: center;
    margin-top: 20px;
  }
  .owl-dot{
    height: 15px;
    width: 45px;
    margin: 0 5px;
    outline: none;
    border-radius: 14px;
    border: 2px solid #0072bc!important;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
  }
  .owl-dot.active,
  .owl-dot:hover{
    background: #0072bc!important;
  }

/* link */

.website-link{
    margin-top: 2%;
}
.website-link p{
    text-align: center;
    font-size: 1.8rem;
    font-weight: bolder;
}

.website-link a{
    font-size: 1.8rem;
    color: #040e7d;
    text-decoration: underline;
}

/* FOOTER */

.footer1-container{
    background-color: #0099ff;
    width: 100%;
    padding: 3%;
}
.footer1-container h2{
    text-align: center;
    font-size: 2rem;
    color: #efeeee;
    margin-top: 1rem;
}

.footer1-container h1{
    text-align: center;
    font-size: 3.7rem;
    color: #efeeee;
    margin-top: 1rem;
}

.footer1-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1rem;
}

.footer1-btn button{
    background-color: #000;
    color: #efeeee;
    height: 35px;
    width: 100px;
    border-radius: 2px;
    padding: 3px;
}

.footer1-btn button:hover{
    font-size: 1.5rem;
    background-color: #000;
    color: var(--white);
}

.footer1-btn span{
    color: #efeeee;
    font-size: 2rem;
}


.footer {
    background: url(images/backGround.png) no-repeat;
    background-size: cover;
    background-position: center center;
}
.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
    padding: 2rem 1rem;
}

.footer .box-container .box{
    margin: 0 50px;
}

.footer .box-container .box h3{
    font-size: 2.2rem;
    color: var(--black);
    padding: 1rem 0;
}
.footer .box-container .box a{
    display: block;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem 0;
}
.footer .box-container .box a i{
    padding-right: .5rem;
    color: var(--black);
}
.footer .box-container .box a:hover i{
    padding-right: 2rem;
}

.footer .share{
    padding: 1rem 0;
    text-align: center;
}
.footer .share a{
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    font-size: 2rem;
    color: var(--white);
    background: var(--black);
    margin: 0 .3rem;
    border-radius: 50%;

}
.footer .share a:hover{
    background: var(--white);
    color: var(--black);
}

.footer-card{
    margin-top: 20px;
    background-color: #0099ff;;
    color: #efeeee;
    width: 80%;
    border-radius: 4px;
    font-size: 1.3rem;
    padding: 5px;
}

.footer-card .card-heading{
    display: flex;
    
    margin-bottom: 6px;
}

.footer-card p{
    font-size: 1rem;
}

.mainBox{
    /* margin-top: 1rem; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainBox .content{
    /* display: flex; */
    align-items: center;
    margin: 0 50px;
    
}
.mainBox img{
    width: 3%;
}
.mainBox .content h1{
    font-size: 2rem;
    color: var(--black);
    margin-bottom: 1rem;
}

.mainBox .content2 h1{
    margin-left: 8.8%;
    margin-top: 14px;
}
.mainBox .content2 p{
    width: 50rem;
    font-size: 1.7rem;
    line-height: 1.3;
    margin-bottom: 2rem;
    margin: 0 50px;
}
.share h1{
    margin-bottom: 16px;
}
.footer .credit{
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    font-weight: bold;
    /* margin-top: 10px; */
    padding: 1.5rem;
    color: var(--white);
    /* text-align: center; */
    background-color: #0099ff;
}

.loader iframe{
    display: none;
}

/* media queries for web responsive */

@media (max-width:991px){
    html{
        font-size: 55%;
    }
    .header{
        padding: 1.3rem 3rem;
    }
    .home .homeContent{
        margin-left: 0;
        width: 80%;
    }

    .nav3 .navbar3 a{
        font-size: 1.4rem;
    }

    .mainBox{
        flex-direction: column;
    }

    .mainBox .content2{
        text-align: center;
        margin-bottom: 20px;
    }

    .credit{
        flex-direction: column;
        text-align: center;
    }

    .logoName{
        text-align: center;
    }
}


@media (max-width:768px) {
    #menu-bar{
        display: inline-block;
    }
    .header .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 25rem;
        background-color: var(--white);
        height: 80vh;
    }
    .header .navbar.active{
        right: 0;
    }
    .header .navbar a{
        display: block;
        font-size: 2rem;
        color: black;
        margin: 1.5rem;
    }

    .home .homeContent{
        margin-left: 0;
        width: 90%;
    }

    .about .container {
        flex-direction: column;
    }
}

@media (max-width:600px){
    html{
        font-size: 50%;
    }

    .header2 .navbar a{
        font-size: .8rem;
    }

    .nav3 .navbar3 {
        display: flex;
        flex-direction: column;
    }

    .nav3 .navbar3 a{
        margin-top: 1rem;
        font-size: 1.7rem;
    }
}